/* Add your customizations of the theme variables here */

//calendar
$calendarTableMargin:.75rem 0; //
$calendarPadding:.3rem; //
$calendarHeaderPadding:.25rem; //
$calendarHeaderCellPadding:.2rem; //
$calendarCellDatePadding:.2rem; //
$calendarCellDateWidth:2rem; //
$calendarCellDateHeight:2rem; //
$calendarButtonBarPadding:.5rem; //
