/* Add your customizations of the theme styles here */

.p-dialog {
    border-radius: 24px;

    .p-dialog-header {
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
    }
    .p-dialog-content {
        padding-bottom: 0px;
    }
    .p-dialog-footer {
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
    }
}