<div class="menu-wrapper" [ngClass]="{'layout-sidebar-active': appMain.sidebarActive}"
     (click)="appMain.onSidebarClick()" (mouseover)="appMain.onSidebarMouseOver()" (mouseleave)="appMain.onSidebarMouseLeave()">
  <div class="sidebar-logo">
    <a [routerLink]="['/']">
      <!-- <img src="assets/layout/images/logo-freya-single.svg" alt="freya-layout"> -->
    </a>
    <a href="#" class="sidebar-pin" (click)="appMain.onToggleMenu($event)">
      <span class="pin"></span>
    </a>
  </div>
  <div class="layout-menu-container">
    <ul class="layout-menu">
      <li app-menuitem *ngFor="let item of model; let i = index;" [item]="item" [index]="i" [root]="true"></li>
    </ul>
  </div>
</div>
