// These are the theme SCSS classes that are used to generate the CSS classes that are in the same directory,
// and with the same name. Angular only uses the SCSS files at compile time, and the theme-light.scss file
// is called from the main styles.scss file for the application. The theme-light.css file was left only as
// a reference, and it will not be used on build time.

$primaryLightColor: #68A8D8;
$primaryColor:#26A95C;
$primaryDarkColor: #387D7A;
$primaryDarkerColor: #415D65;
$primaryTextColor: #FFFFFF;
$primaryLighterColor: rgba($primaryLightColor,.1);

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

@import './theme/theme_light';
