<p-breadcrumb [model]="itemsBreadcumb" styleClass='breadcrumb'></p-breadcrumb>

<div class='grid '>
  <div class='col-12 md:col-6 lg:col-3'>
    <app-did></app-did>

    <div class='card overflow-y-auto' [ngStyle]='{"max-height": "50vh"}'>
      <h1 class='f-primary-text-bold'>Uploaded Images</h1>
      <div class='flex p-3 mb-3 uploaded-image'>
        <div class='mr-3'>
          <i class='fas fa-image'></i>
          <span class='block text-center'>1</span>
        </div>
        <div>
          <div class='f-primary-text'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</div>
        </div>
      </div>
      <div class='flex p-3 mb-3 uploaded-image active'>
        <div class='mr-3'>
          <i class='fas fa-image'></i>
          <span class='block text-center'>2</span>
        </div>
        <div>
          <div class='f-primary-text'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</div>
        </div>
      </div>
    </div>

    <div class='card dtag-chain-id'>
      <h2 class='title mb-1'>Dtag Chain ID</h2>
      <div class='f-primary-text'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</div>
      <div class='research-funds mt-3'>Research Funds</div>
      <div
        class='research-funds-amount mt-1 px-2 py-2 flex justify-content-center f-description-text f-h3 align-items-center'>
        100,000
        <div class='separator'>&nbsp;</div>
        i <i class='fas fa-chevron-down ml-2' style='font-size: small'></i>
      </div>
    </div>
  </div>
  <div class='col-12 md:col-6 lg:col-6'>
    <div class='card objective'>
      <h1 class='f-primary-text-bold'>Objective</h1>
      <div class='wrapper p-1'>
        Please add specific instructions and objectives of this tagging effort. Be as specific as possible, since users
        will take this information to define their game strategy
      </div>
    </div>
    <div class='grid align-items-stretch'>
      <div class='md:col-6 col-12'>
        <div class='card dropzone block' ngx-dropzone [disableClick]='true' #drop [accept]="'.jpg,.png,.bmp'">
          <div class='flex justify-content-between align-items-center w-100'>
            <h1 class='f-primary-text-bold p-0 m-0'>Upload Local Images</h1>
            <p-radioButton [(ngModel)]='modeImages' value='local-images'></p-radioButton>
          </div>
          <button class='p-button-outlined p-button p-button-sm mt-2' pButton label='Select'
                  (click)='dropzone.showFileSelector()' iconPos='left' icon='fas fa-cloud-upload-alt'></button>
          <div class='flex justify-content-between mt-1'>
            <div style='font-size: 12px;line-height: 17px;color: #383737;' class='mt-1'>Drag your images here</div>
            <div></div>
          </div>
        </div>
      </div>
      <div class='md:col-6 col-12'>
        <div class='card'>
          <div class='flex justify-content-between align-items-center w-100'>
            <h1 class='f-primary-text-bold p-0 m-0'>Upload Cloud Images</h1>
            <p-radioButton [(ngModel)]='modeImages' value='cloud-images'></p-radioButton>
          </div>
          <span class='p-input-icon-right mt-2'>
              <i class='pi pi-link'></i>
              <input type='text' pInputText class='pr-0'>
          </span>
          <div class='flex justify-content-between'>
            <div style='font-size: 12px;line-height: 17px;color: #383737;' class='mt-1'>Link public folder of your data
              base
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 md:col-6 lg:col-3'>
    <app-balance></app-balance>
  </div>
</div>
