.uploaded-image {
  background: #F7F7F8;
  border-radius: 8px;
}

.uploaded-image.active {

  .address, * {
    color: var(--primary-color);
  }
}

.dtag-chain-id {
  .title {
    font-size: 14px;
    line-height: 19px;
    color: #383737;
  }

  .research-funds {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 120%;
    color: #939393;
  }

  .research-funds-amount {
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    box-shadow: 0 10px 40px rgba(41, 50, 65, 0.06);
    border-radius: 5px;
  }

  .separator {
    border: 0.5px solid rgba(94, 94, 94, 1);
    font-weight: lighter;
    width: 23.58px;
    height: 0;
    transform: rotate(90deg);
  }
}

.objective {
  .wrapper {
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 40px rgba(41, 50, 65, 0.06));
    border-radius: 5px;
    font-size: 12px;
    line-height: 17px;
    color: #CFCFCF;
  }
}

.dropzone {
  height: 100%;
  border: inherit;
  align-items: inherit;
  background: #C2DED1;
  box-shadow: 0 10px 40px rgba(41, 50, 65, 0.06);
  border-radius: 24px;
}
