<p-breadcrumb [model]="itemsBreadcumb" styleClass='breadcrumb'></p-breadcrumb>

<div class='grid '>
  <div class='col-12 md:col-6 lg:col-3'>
    <div class='card card-address-seed block'>
      <div class='flex justify-content-between'>
        <span class='block title'>My Descentralized ID</span>
        <div (click)='showDisclose = true;'>
          <i class="fas fa-user-circle" style='color: var(--primary-color)'></i>
        </div>
      </div>
      <span class='flex'>
          <span class='txt-copy' style='word-break: break-all'>
            did:iota:4rq5eZXno8BLHWahubu6cXTcNVMPW3Dk5rLFR6n8dTro
          </span>
        </span>
      <span class='block title pt-3'>Human</span>
      <span class='flex'>
          <span class='txt-copy' style='word-break: break-all'>
            Yes
          </span>
        </span>
    </div>

    <div class='card block overflow-y-auto' [ngStyle]='{"max-height": "50%"}'>
      <h1 class='card-title'>Players</h1>
      <div class='flex p-3 mb-3 player'>
        <div class='mr-3'>
          <i class="pi pi-user"></i>
          <span class='block text-center'>1</span>
        </div>
        <div>
          <span class='seed'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</span>
          <span class='bet block'>Bet: 10Mi</span>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 md:col-6 lg:col-6'>
    <div class='card'>
      <div class='flex justify-content-between'>
        <div>
          <h1 class='card-title'>Objective</h1>
          <span class="block" style='font-size: 12px'>Tag the bee in the image as accurately as possible considering legs, wings and antenna.</span>
        </div>
        <div class='mt-3 ml-2'>
          <button pButton pRipple type="button" label="Sample" icon='pi pi-info-circle' iconPos='left'
                  class="p-button-outlined p-button-primary" (click)='btnSampleClick()'></button>
        </div>
      </div>
    </div>
    <div class='card round'>
      <div class='flex justify-content-between'>
        <h1 class='card-title'>Round</h1>
        <button class='p-button-outlined p-button-primary' pButton label='Exit' icon='fas fa-walking'></button>
      </div>
      <div class='grid mt-1'>
        <div class='col-6 sm:col-4 md:col-3 lg:col-3'>
          <span class='round-title'>Round Players</span>
          <span class='round-info'>5</span>
        </div>
        <div class='col-6 sm:col-4 md:col-3 lg:col-3'>
          <span class='round-title'>Number of Images</span>
          <span class='round-info'>13</span>
        </div>
        <div class='col-6 sm:col-4 md:col-3 lg:col-3'>
          <span class='round-title'>Round Progress</span>
          <span class='round-info'>63%</span>
        </div>
        <div class='col-6 sm:col-4 md:col-3 lg:col-3'>
          <span class='round-title'>My Tagged Images</span>
          <span class='round-info'>3</span>
        </div>
      </div>
    </div>

    <div class='card'>
      <div class='flex justify-content-between px-3'>
        <div>
          <h2 class='card-title p-0 m-0'>Funds at Stake</h2>
          <span class='card-image-title block'>2,000,000 i</span>
        </div>
        <div>
          <h2 class='card-title p-0 m-0'>Round Players</h2>
          <span class='card-image-title block'>5 People</span>
        </div>
        <div>
          <h2 class='card-title p-0 m-0'>Your Bet</h2>
          <p-tag styleClass="block card-image-title tag" severity="warning" value="{{totalBet}} | i"
                 [rounded]="true"></p-tag>
        </div>
        <div>
          <button pButton label="Increase" icon="pi pi-arrow-up" class="p-button-sm"
                  (click)='btnIncreaseBetClick()'></button>
        </div>
      </div>
      <span class='card-title'>Tagging</span>
      <div class='flex justify-content-between mt-1'>
        <div class='flex' style='gap: 10px'>
          <button pButton icon="pi pi-trash" class='btn-icon m-0 py-0 w-auto'
                  style='float: right; color: rgba(255, 99, 71, 1);' (click)='removeCropper()'></button>
          <button pButton icon="pi pi-image" class='btn-icon m-0 p-0 w-auto mr-3'
                  style='float: right; color: rgba(104, 168, 216, 1);' (click)='showCropper()'></button>
        </div>
        <div>
          <span style='font-size: 12px;color: rgba(41, 50, 65, 0.8)'>
            Click the <span class='txt-blue'>blue icon</span> to tagg the object and click on
            <span class='txt-blue'>Fix Tag</span> button to confirm.</span>
        </div>
      </div>

      <swiper #swiper [config]="configSwiper" class='mt-3'>
        <ng-template swiperSlide>
          <img src='/assets/images/img.png' alt=''>
        </ng-template>
        <ng-template swiperSlide>
          <img src='/assets/images/img.png' alt=''>
        </ng-template>
        <div class="swiper-pagination"></div>
      </swiper>
      <button pButton pRipple class='p-button p-button-sm p-button-outlined block mx-auto button-fix-tag mt-4'>Fix Tag</button>
    </div>
  </div>
  <div class='col-12 md:col-6 lg:col-3'>
    <div class='card'>
      <h1 class='card-title text-center w-100 mb-1 pl-0'>Your balance</h1>
      <span class='block text-center'
            style='font-size: 24px;line-height: 33px;color: rgba(41, 50, 65, 0.8);'>400, 000 i</span>

      <span class='block title' style='font-size: 14px'>Your Address</span>
      <span class='flex'>
          <span class='txt-copy pt-1' style='word-break: break-all'>
            6Gf4ea7Zsx2KZ2XFCsX8T9dgDTpxxeKFNnEJmYgrMBB4
          </span>
          <button pButton icon="pi pi-copy" class='btn-icon m-0 p-0' style='float: right' iconPos="right"
                  cdkCopyToClipboard='6Gf4ea7Zsx2KZ2XFCsX8T9dgDTpxxeKFNnEJmYgrMBB4'></button>
        </span>
    </div>

    <div class='card'>
      <h1 class='card-title'>Logs</h1>

      <div class='p-3 sc-log'>
        <div style='float: right'>
          <span class='block subtitle'>2021/11/06</span>
          <span class='block subtitle'>9:14:51PM</span>
        </div>
        <div class='mr-3'>
          <span class='block title'>Smart Contract</span>
          <span class='block subtitle'>Researcher Request: 17</span>
          <span class='block info' style='word-break: break-all'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</span>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="showSample" [draggable]='false' [resizable]='false' [blockScroll]='true'
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" (onHide)='hideSample()'>
  <ng-template pTemplate="header">
    <h1 class='card-title'>Sample</h1>
  </ng-template>
  <span class='' style='font-size: 12px; font-weight: 400; line-height: 17px;color: rgba(41, 50, 65, 0.8);'>The following images are examples prepared by the researcher to clarify the objective of the round.</span>

  <swiper [config]="configSwiper" class='mt-3 mb-4'>
    <ng-template swiperSlide>
      <img src='/assets/images/img.png' alt=''>
    </ng-template>
    <ng-template swiperSlide>
      <img src='/assets/images/img_1.png' alt=''>
    </ng-template>
    <ng-template swiperSlide>
      <img src='/assets/images/img_2.png' alt=''>
    </ng-template>
    <div class="swiper-pagination"></div>
  </swiper>
</p-dialog>

<p-dialog [(visible)]="showIncreaseBet" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '40vw'}" [draggable]="false" [blockScroll]="true" (onHide)="hideIncreaseBet()"
          [baseZIndex]="10000">
  <ng-template pTemplate="header">
    <h1 class='card-title'>Increase Bet</h1>
  </ng-template>
  <div class="card-fund flex flex-column p-2">
    <span>From</span>
    <p class="p-my-3 text-left">My Wallet</p>
  </div>
  <div class="modal-input py-1 mt-3 px-2">
    <div class="flex justify-content-between">
      <div>
        <span>Increment</span>
        <p [contentEditable]='true' id='pIncrement'>1</p>
      </div>
      <p class="mi h-100">i</p>
    </div>
  </div>
  <div class="card-fund flex flex-column mt-3 p-2">
    <span>Smart Contract</span>
    <p class="p-my-3 text-left">Dtag</p>
  </div>
  <div class="card-fund flex flex-column mt-3 p-2">
    <span>Chain ID</span>
    <p class="p-my-3 text-left">1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</p>
  </div>
  <div class="modal-input py-1 my-3 px-2">
    <div class="flex justify-content-between">
      <div>
        <span>Your Total Bet</span>
        <p id='pTotalBetSample'>{{totalBet}}</p>
      </div>
      <p class="mi h-100">i</p>
    </div>
  </div>
  <button pButton pRipple label='Confirm' (click)='confirmIncreaseBet()'
          class='p-button-primary mb-3 mx-auto block'></button>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>

<p-dialog [(visible)]="showDIDDetails" [draggable]='false' [resizable]='false' [blockScroll]='true'
          (onHide)='hideDIDDetails()' [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '40vw'}">
  <ng-template pTemplate="header">
    <h1 class='card-title'>DID Details</h1>
  </ng-template>
  <span class='did-details-subtitle'>Your Decentralized Identity (DID) has been created and now it is stored in the tangle. Please copy your encrypted DID Stronhold file and and store it, so only you have access to it. Also copy your Public Key to share your DID when convenient.</span>
  <div class='did-details'>
    <div class="w-100">
      <label>Seed</label>
      <div class='flex align-items-center'>
        <div class='did-input px-3 py-2 mr-2 flex'>
          <span>Stronghold file</span>
        </div>
        <div>
          <i class="fas fa-cloud-download-alt" style='color: var(--primary-color)'></i>
        </div>
      </div>
    </div>
    <div class='w-100 mt-2'>
      <label>DID</label>
      <div class='flex align-items-center'>
        <div class='did-input px-3 py-2 mr-2 flex'>
          <span style='word-break: break-all;'>did:iota:4rq5eZXno8BLHWahubu6cXTcNVMPW3Dk5rLFR6n8dTro</span>
        </div>
        <div>
          <img src='/assets/icons/account_three.svg' alt=''>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>

<p-dialog [(visible)]='showDisclose' [draggable]='false' [resizable]='false' [blockScroll]='true'
          (onHide)='showDisclose = false;' [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '60vw'}">
  <ng-template pTemplate='header'>
    <h1 class='card-title'>What to Disclose</h1>
  </ng-template>
  <ng-template pTemplate='content'>
    <span class='disclose-subtitle'>Based on your public DID key, Dtag retrives details of your identity only with your consent. Please confirm what information you want to share with Dtag for this session. </span>
    <div class='grid mt-1'>
      <div class="col-12 md:col-6">
        <label>First Name</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="Alice" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Discord Handle</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="wen21#3255" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Last Name</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="Wen" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Telephone</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="+1.987.897.4321" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Nickname</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="wenwenwen21" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Email</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="wenwenwen21@dtag.wen" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
    </div>
    <div class='disclose-subtitle'>Additionally, the following information is also going to be shared temporarily with
      DTag.
    </div>
    <span class='verifiable-credential-title'>Verifiable Credential</span>
    <div class='verifiable-credential-container p-2'>
      <span>Turing Test Result: Human</span>
      <span>Token: 7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</span>
      <span>Date and Time: 2021/11/08 - 10:30 AM</span>
      <span>Socket: 204.211.142.12:4052</span>
      <span>DID: did:iota:4rq5eZXno8BLHWahubu6cXTcNVMPW3Dk5rLFR6n8dTro</span>
    </div>
    <button class='p-button p-button-primary block mx-auto mt-3' pButton (click)='submitDisclose()'
            label='Submit'></button>
  </ng-template>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>
