<div class='card'>
  <div class='flex justify-content-between'>
    <span class='block title'>My Descentralized ID</span>
    <div (click)='onClickUserDID()'>
      <i class='fas fa-user-circle' style='color: var(--primary-color)'></i>
    </div>
  </div>
  <span class='flex'>
    <span class='content' style='word-break: break-all'>
      did:iota:4rq5eZXno8BLHWahubu6cXTcNVMPW3Dk5rLFR6n8dTro
    </span>
  </span>
  <span class='block title pt-3'>Human</span>
  <span class='flex'>
    <span class='content' style='word-break: break-all'>Yes</span>
  </span>
</div>

<p-dialog [(visible)]="showDIDDetails" [draggable]='false' [resizable]='false' [blockScroll]='true'
          (onHide)='showDIDDetails = false' [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '40vw'}">
  <ng-template pTemplate="header">
    <h1 class='card-title'>DID Details</h1>
  </ng-template>
  <div class='did-details-subtitle'>Your Decentralized Identity (DID) has been created and now it is stored in the tangle. Please copy your encrypted DID Stronghold file and and store it, so only you have access to it. Also copy your Public Key to share your DID when convenient.</div>
  <div class='did-details'>
    <div class="w-100">
      <label class='label'>Seed</label>
      <div class='flex align-items-center'>
        <div class='did-input px-3 py-2 mr-2 flex'>
          <span>Stronghold file</span>
        </div>
        <div>
          <i class="fas fa-cloud-download-alt" style='color: var(--primary-color)'></i>
        </div>
      </div>
    </div>
    <div class='w-100 mt-2'>
      <label class='label'>DID</label>
      <div class='flex align-items-center'>
        <div class='did-input px-3 py-2 mr-2 flex'>
          <span style='word-break: break-all;'>did:iota:4rq5eZXno8BLHWahubu6cXTcNVMPW3Dk5rLFR6n8dTro</span>
        </div>
        <div>
          <img src='/assets/icons/account_three.svg' alt=''>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>
