.card-address-seed {
  font-weight: 400;
  text-align: left;

  .title {
    //styleName: body;
    font-size: 14px;
    line-height: 19px;
    color: rgb(55, 55, 55);
  }

  .content {
    font-size: 12px;
    line-height: 17px;
    color: rgba(41, 50, 65, 0.8);
  }
}

.how-to-start, .how-to-play, .your-balance {
  .content {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: justify;
    display: block;
  }
}

.card-image-subtitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  color: rgba(41, 50, 65, 0.8);
}

.powered-by {
  color: rgba(56, 55, 55, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.balance {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
}

.log {
  background: #F7F7F8;
  border-radius: 8px;

  &-title {
    word-break: break-all;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
  }

  &-info {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  &-address {
    @extend .log-info;
    word-break: break-all;
    font-weight: 600;
  }
}

:host ::ng-deep .tag{
  background: #F5F5F5;
  box-shadow: 0 10px 40px rgba(41, 50, 65, 0.06);
  border-radius: 10rem;
}
