.card-address-seed {
  font-weight: 400;
  text-align: left;

  .title {
    //styleName: body;
    font-size: 14px;
    line-height: 19px;
    color: rgb(55, 55, 55);
  }

  .content {
    font-size: 12px;
    line-height: 17px;
    color: rgba(41, 50, 65, 0.8);
  }
}

.how-to-start, .how-to-setup, .your-balance, .create-verifiable {
  .content {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: justify;
    display: block;
  }
}

.powered-by {
  color: rgba(56, 55, 55, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.round {
  background: #F7F7F8;
  border-radius: 8px;

  &-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: rgba(41, 50, 65, 0.8);
  }

  &-content {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    word-break: break-all;
    color: rgba(41, 50, 65, 0.8);
  }
}

.disclose-subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: justify;
  color: rgba(41, 50, 65, 0.8);
}

.verifiable-credential {
  &-title {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(147, 147, 147, 1);
  }
  &-container {
    background: #F5F5F5;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 5px;

    span {
      font-size: 12px;
      line-height: 16px;
      color: #939393;
      display: block;
    }
  }
}

.did-details-subtitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: justify;
}

.did-details {
  //styleName: Indicator;
  .did-input {
    background: #F5F5F5;
    width: 100%;
    border-radius: 5px;
  }

  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
