<p-breadcrumb [model]="itemsBreadcumb" styleClass='breadcrumb'></p-breadcrumb>

<div class='grid '>
  <div class='col-12 md:col-6 lg:col-3'>
    <div class='card card-address-seed block'>
      <div class='flex justify-content-between'>
        <span class='block title'>My Descentralized ID</span>
        <div>
          <i class="fas fa-user-circle" style=''></i>
        </div>
      </div>
      <span class='flex'>
          <span class='txt-copy' style='word-break: break-all'>NULL</span>
        </span>
      <span class='block title pt-3'>Human</span>
      <span class='flex'>
        <span class='txt-copy' style='word-break: break-all'>NULL</span>
      </span>
      <div class='flex mt-2' style='gap: 1rem'>
        <button pButton pRipple label='Create DID' (click)='showCreateDID = true;' class='p-button p-button-sm p-button-outlined'></button>
        <button pButton pRipple label='Sign in' class='p-button p-button-sm p-button-outlined'></button>
      </div>
    </div>
    <app-active-players maxHeight='80%'></app-active-players>
  </div>

  <div class='col-12 md:col-6 lg:col-6'>
    <div class='card how-to-start'>
      <h1 class='card-title'>How to Start</h1>
      <span class='content'>
        To start a round for image tagging, first create an identity, second validate you are a human, and third request funds for your wallet. It is recommended to fund the round based on the cost of  hiring someone to tag the images. The adjudicator of each round is an IOTA based Smart Contract.
      </span>
    </div>
    <div class='card how-to-setup'>
      <h1 class='card-title'>How to Setup</h1>
      <span class='content'>
        The rounds are created and funded by a researcher like you. The round objectives and samples are fundamental to allow players understand your needs, so spent some time defining the desirable outcome and uploading the images to tag. Funds are automatically managed by the Smart Contract.
      </span>
    </div>

    <div class='card'>
      <div class='flex justify-content-end' style='gap: 0.8rem'>
        <div>
          <h2 class='card-title p-0 m-0'>Openning Funds</h2>
          <p-tag class="block card-title tag" styleClass='w-100  justify-content-end pr-3' severity="primary"
                 value="0 | i"
                 [rounded]="true"></p-tag>
        </div>
        <button pButton label="Start" class="p-button-sm p-button" icon='fas fa-play' iconPos='left'></button>
      </div>
      <span class='powered-by' style='font-weight: 600'>Powered By</span>
      <div>
        <img src='/assets/images/Start%20As%20Player/Powered%20By.png' style='max-width: 100%;' alt=''>
      </div>
    </div>
  </div>

  <div class='col-12 md:col-6 lg:col-3'>
    <div class='card your-balance'>
      <h1 class='card-title'>Your Balance</h1>
      <h3 class='balance my-0'>O i</h3>
      <span class='content mt-2'>
        These are dev-net tokens and hold no value.
      </span>
      <button pButton pRipple label='Request Funds'
              class='p-button p-button-sm p-button-outlined mt-3 mx-auto block'></button>
    </div>

    <div class='card overflow-y-auto' [ngStyle]='{"max-height": "40%"}'>
      <h1 class='card-title'>My Rounds</h1>
      <div class='p-3 round mb-3'>
        <div class='round-title'>Funds at Stake: 100 Mi</div>
        <div class='round-content pb-1'>Started on: 2021/11/07 - 1:14:51 PM</div>
        <div class='round-title pb-1'>Smart Contract Chain</div>
        <div class='round-content'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</div>
        <button class='block ml-auto mr-1 mt-2 p-button p-button-sm' pButton pRipple label='Outgoing' (click)='showReportPreview = true;'></button>
      </div>
      <div class='p-3 round mb-3'>
        <div class='round-title'>Funds at Stake: 80 Mi</div>
        <div class='round-content pb-1'>Started on: 2021/11/03 - 3:14:51 PM</div>
        <div class='round-title pb-1'>Smart Contract Chain</div>
        <div class='round-content'>1GbcBTd2zigKtsdfsdf223HW2k5We96wJtp7jf4DFdetA6</div>
        <button class='block ml-auto mr-1 mt-2 p-button p-button-sm p-button-outlined' pButton pRipple label='Completed'></button>
      </div>
      <div class='p-3 round mb-3'>
        <div class='round-title'>Funds at Stake: 20 Mi</div>
        <div class='round-content pb-1'>Started on: 2021/11/04 - 4:14:51 PM</div>
        <div class='round-title pb-1'>Smart Contract Chain</div>
        <div class='round-content'>1GbcBTd2zigKt7X2332dsfsdfHW2k5We96wJtp7jf4DFdetA6</div>
        <button class='block ml-auto mr-1 mt-2 p-button p-button-sm p-button-outlined' pButton pRipple label='Completed'></button>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]='showReportPreview' [draggable]='false' [resizable]='false' [blockScroll]='true'
          (onHide)='showReportPreview = false;' [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '60vw'}">
  <img src='/assets/images/report-preview.png' style='max-width: 100%' alt=''>
</p-dialog>

<p-dialog [(visible)]="showCreateDID" [breakpoints]="{'960px': '50vw', '640px': '70vw'}"
          [style]="{width: '30vw'}" [draggable]="false" [blockScroll]="true" (onHide)="showCreateDID = false;"
          [baseZIndex]="10000">
  <ng-template pTemplate="header">
    <h1 class='card-title'>Create DID</h1>
  </ng-template>
  <input type="text" pInputText class="p-inputtext w-100" placeholder="Nickname">
  <input type="password" pInputText class="p-inputtext mt-3 w-100" placeholder="Password">
  <button class='p-button p-button-sm block mx-auto mt-3' pRipple pButton label='Create' (click)='createDID()'></button>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>

<p-dialog [(visible)]='showCreateVerifiableCredential' [draggable]='false' [resizable]='false' [blockScroll]='true'
          (onHide)='showCreateVerifiableCredential = false;' [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '60vw'}">
  <ng-template pTemplate='header'>
    <h1 class='card-title'>Create Verifiable Credential</h1>
  </ng-template>
  <div class='create-verifiable'>
    <p class='content'>
      Complete the form, including the captcha and click submit to issue a new Identity. All personal information is keept secret in the tangle, and not stored in our systems without your consent.
    </p>
    <div class='grid'>
      <div class='col-12 md:col-6'>
        <input type="text" pInputText class="p-inputtext w-100" placeholder="First Name">
      </div>
      <div class='col-12 md:col-6'>
        <input type="text" pInputText class="p-inputtext w-100" placeholder="Phone Numer">
      </div>
      <div class='col-12 md:col-6'>
        <input type="text" pInputText class="p-inputtext w-100" placeholder="Last Name">
      </div>
      <div class='col-12 md:col-6'>
        <input type="email" pInputText class="p-inputtext w-100" placeholder="Email">
      </div>
      <div class='col-12 md:col-6'>
        <input type="email" pInputText class="p-inputtext w-100" placeholder="Nickname" readonly>
      </div>
      <div class='col-12 md:col-6'>
        <input type="email" pInputText class="p-inputtext w-100" placeholder="Discord Handle">
      </div>
    </div>
  </div>
  <div class='flex justify-content-center mt-2'>
    <p-captcha siteKey="6LfdsCsdAAAAADpMiAXB-G-Z9QWVmpGk_0M59ixM" (onResponse)="showResponse($event)"></p-captcha>
  </div>
  <button class='p-button p-button-sm mx-auto block mt-3 mb-2' pButton pRipple label='Create'></button>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>

<p-dialog [(visible)]='showCreateVerifiableCredential' [draggable]='false' [resizable]='false' [blockScroll]='true'
          (onHide)='showCreateVerifiableCredential = false;' [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '60vw'}" [closable]='false' [closeOnEscape]='false'>
  <ng-template pTemplate='header'>
    <h1 class='card-title'>What to Disclose</h1>
  </ng-template>
  <ng-template pTemplate='content'>
    <span class='disclose-subtitle'>Based on your public DID key, Dtag retrives details of your identity only with your consent. Please confirm what information you want to share with Dtag for this session. </span>
    <div class='grid mt-1'>
      <div class="col-12 md:col-6">
        <label>First Name</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="Alice" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Discord Handle</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="wen21#3255" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Last Name</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="Wen" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Telephone</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="+1.987.897.4321" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Nickname</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="wenwenwen21" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label>Email</label>
        <div class='flex'>
          <input type="text" pInputText placeholder="wenwenwen21@dtag.wen" class='mr-2' readonly>
          <p-checkbox></p-checkbox>
        </div>
      </div>
      <div class='col-6 md:mx-auto md:block'>
        <input type="password" pInputText placeholder="Password" class='w-100'>
      </div>
    </div>
    <span class='verifiable-credential-title'>Session Verifiable Credential</span>
    <div class='verifiable-credential-container p-2'>
      <span>Turing Test Result: Human</span>
      <span>Date and Time: 2021/11/08 - 10:30 AM</span>
      <span>Socket: 204.211.142.12:4052</span>
      <span>DID: did:iota:4rq5eZXno8BLHWahubu6cXTcNVMPW3Dk5rLFR6n8dTro</span>
    </div>
    <button class='p-button p-button-primary block mx-auto mt-3' pButton (click)='verifyVerifiablePresentation()'
            label='Verify'></button>
  </ng-template>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>

<p-dialog [(visible)]="showDIDDetails" [draggable]='false' [resizable]='false' [blockScroll]='true'
          (onHide)='showDIDDetails = false;' [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '40vw'}">
  <ng-template pTemplate="header">
    <h1 class='card-title'>DID Details</h1>
  </ng-template>
  <span class='did-details-subtitle'>Your Decentralized Identity (DID) has been created and now it is stored in the tangle. Please copy your encrypted DID Stronhold file and and store it, so only you have access to it. Also copy your Public Key to share your DID when convenient.</span>
  <div class='did-details'>
    <div class="w-100">
      <label>Seed</label>
      <div class='flex align-items-center'>
        <div class='did-input px-3 py-2 mr-2 flex'>
          <span>Stronghold file</span>
        </div>
        <div>
          <i class="fas fa-cloud-download-alt" style='color: var(--primary-color)'></i>
        </div>
      </div>
    </div>
    <div class='w-100 mt-2'>
      <label>DID</label>
      <div class='flex align-items-center'>
        <div class='did-input px-3 py-2 mr-2 flex'>
          <span style='word-break: break-all;'>did:iota:4rq5eZXno8BLHWahubu6cXTcNVMPW3Dk5rLFR6n8dTro</span>
        </div>
        <div>
          <img src='/assets/icons/account_three.svg' alt=''>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>

<p-dialog [(visible)]="showSignIn" [breakpoints]="{'960px': '50vw', '640px': '70vw'}"
          [style]="{width: '30vw'}" [draggable]="false" [blockScroll]="true" (onHide)="showSignIn = false;"
          [baseZIndex]="10000">
  <ng-template pTemplate="header">
    <h1 class='card-title'>Sign In</h1>
  </ng-template>
  <input type="text" pInputText class="p-inputtext w-100" placeholder="Nickname">
  <input type="password" pInputText class="p-inputtext mt-3 w-100" placeholder="Password">
  <div class='flex justify-content-center mt-2'>
    <p-captcha siteKey="6LfdsCsdAAAAADpMiAXB-G-Z9QWVmpGk_0M59ixM" (onResponse)="showResponse($event)"></p-captcha>
  </div>
  <button class='p-button p-button-sm block mx-auto mt-3' pRipple pButton label='Create' (click)='signIn()'></button>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>
