.layout-menu-light {
    $menuBgColor:#ffffff;
    $rootMenuItemTextColor:#293241;
    $rootMenuItemHoverBgColor:var(--primary-lighter-color);

    $activeRootMenuItemTextColor:var(--primary-color);
    $menuItemIconColor:var(--primary-color);

    $submenuItemTextColor:rgba(41, 50, 65, 0.7);
    $submenuItemHoverBgColor:var(--primary-lighter-color);
    $activeSubmenuItemTextColor:rgba(41, 50, 65, 0.8);

    $slimActiveRootMenuItemBgColor:var(--primary-lighter-color);
    $slimActiveRootMenuItemTextColor:var(--primary-color);

    $menuShadow: 0px 10px 40px rgba(41, 50, 65, 0.06);

    @import '../_menu_theme';
}

