<p-breadcrumb [model]="itemsBreadcumb" styleClass='breadcrumb'></p-breadcrumb>

<div class='grid '>
  <div class='col-12 md:col-6 lg:col-3'>
    <div class='card dtag-game'>
      <h1 class='card-title'>DTag Game</h1>
      <p class='content block'>Have fun betting against other human players and jointly create collectibles in a
        decentralized fashion.</p>
      <p class='card-title'>Try Out As</p>
      <div class='flex' style='gap: 1rem'>
        <button class='p-button p-button-outlined p-button-sm' pButton label='Researcher'></button>
        <button class='p-button p-button-sm' pButton label='Player'></button>
      </div>
    </div>

    <div class='card block overflow-y-auto' [ngStyle]='{"max-height": "50%"}'>
      <h1 class='card-title'>Active Players</h1>
      <div class='flex p-3 mb-3 player'>
        <div class='mr-3'>
          <i class="pi pi-user"></i>
          <span class='block text-center'>1</span>
        </div>
        <div>
          <span class='seed'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</span>
          <span class='bet block'>Bet: 10Mi</span>
        </div>
      </div>
    </div>
    <div class='card interesting-charts'>
      <h1 class='card-title'>Interesting Charts</h1>
      <p class='content'>Here some interesting charts about the game, with details about top players, top researchers, largest bets, among others.
      </p>
    </div>
  </div>
  <div class='col-12 md:col-6 lg:col-6'>
    <div class='card the-problem'>
      <h1 class='card-title'>The problem</h1>
      <div class='inline'>
        <img src='/assets/images/problem.png' alt='' style='max-width: 214.87px; object-fit: contain; float: right'
             class='m-3'>
        <p class='content'>
          By definition sustainable agriculture means the use of techniques and methods to meet food needs, without
          compromising the ability for current or future generations to meet their needs.
        </p>
        <p class='content'>
          It is evident that the use of technology in agriculture is growing at exponential rates, and the application
          of deep learning is part of this trend. However, the training process of Deep Learning (DL) models is a
          <b>heavy manual task:</b> humans have to tag the objects in a series of images that are used as training set.
          For an
          average research project, around 2000 images need to be tagged to train a DL model to achieve accepable levels
          of accuracy. Without an open data source that suits his/her needs, the researcher will have to do it himself,
          or hire someone to do it.
        </p>
        <p class='content'>
          In the agriculture industry, this scenario <b>slows down</b> the development of
          <b>artificial identification and the estimation of production variables</b>
          that might increase or decrease the agricultural outcome. Furthermore, the
          same problem is present in other industries.
        </p>
      </div>
    </div>

    <div class='card the-problem'>
      <h1 class='card-title'>Our Solution</h1>
      <p class='content mb-0'>DTag <b>distributes the effort</b> of image tagging for training of <b>deep learning
        models</b>
        among players
        to create a game. It incentivices the players in two ways:
      </p>
      <p class='content ml-1 mb-0'>
        1. By <b>earning IOTA tokens</b>, funded by the researcher, for tagging images based on the round objective
        and samples.
      </p>
      <p class='content'>
        2. By <b>betting against other players</b> about their tagging skills.
      </p>
      <p class='content'>
        Researchers can start a game round by uploading images to be tagged, setting the objectives for the round,
        providing some examples, setting the required cap of tags per image (5 or more), and funding the round to
        attract more players.
      </p>
      <p class='content'>
        The <b>combined strategy of all players</b> to win the round becomes a <b>swarm intelligence</b> that identifies
        the same
        object type within a series of images. Each tag has four dimensions (x coordinate, y coordinate, height, width),
        and each dimension is used to create clusters of data that are later processed by an IOTA Smart Contract (SC).
        The SC presents the images randomly to the players.
      </p>
      <p class='content'>
        After all images have been tagged by the players, the SC calculates the <b>center of the data cluster</b> with
        four
        dimensions, and the eucledian distances of each player from the center for each image. Then, the shortest
        distance for each player is used to rank the players. Finally, the square number of the positions of the players
        is used to distribute the bets for the round.
      </p>
      <p class='content'>
        The chances to win increase with the precision of each tag and with the number of tagged images.
      </p>
    </div>
  </div>
  <div class='col-12 md:col-6 lg:col-3'>
    <div class='card like-game'>
      <h1 class='card-title'>Do you like this game?</h1>
      <p class='content'>
        Your help is vital to make this effort sustainable. Please consider supporting our work to facilitate cutting
        edge technology for the industry.
        Click Donate to copy our IOTA Mainnet Address.
      </p>
      <button class='p-button p-button-sm block mx-auto' pButton label='Donate' (click)='showDonate = true'></button>
    </div>

    <div class='card'>
      <h1 class='card-title'>Rounds History</h1>
      <div class='p-3 sc-log'>
        <div style='float: right' class='pr-1 pb-1'>
          <span class='block subtitle'>2021/11/06</span>
          <span class='block subtitle'>9:14:51PM</span>
        </div>
        <div class='mr-3'>
          <span class='block title pb-1'>Smart Contract Chain</span>
          <span class='block subtitle'>Total Played Funds: 100Mi</span>
          <span class='block info' style='word-break: break-all'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</span>
        </div>
      </div>
    </div>

    <div class='card open-library'>
      <h1 class='card-title'>DTag Open Library</h1>
      <p class='content'>Browse the Library to find previous datasets of tagged images stored using IPFS. You can you
        can download the tagged images and track its history from its NFTs.</p>
      <button class='p-button p-button-sm mx-auto block' pButton label='Soon'></button>
    </div>
  </div>
</div>

<p-dialog [(visible)]="showDonate" [draggable]='false' [resizable]='false' [blockScroll]='true'
          (onHide)='showDonate = false;'
          [breakpoints]="{'960px': '60vw', '640px': '80vw'}" [style]="{width: '40vw'}">
  <ng-template pTemplate="header">
    <h1 class='card-title'>Donate</h1>
  </ng-template>
  <div class='donate'>
    <p class='content'>You can use your
      <span class='txt-blue'><a href='https://firefly.iota.org/' rel='noopener noreferrer'>firefly wallet</a></span>
      to help us, and thank you so much
      in advance for giving us the chance to develop further this project. Feel free to add your full name or nickname
      in the transaction message to tank you even more on our list of donors!</p>
  </div>
  <span class='donation-address'>IOTA Mainet Donation Address</span>
  <div class='flex align-items-center'>
    <div class='donation-address-content px-2 py-3 w-100'>
      <span class='block'>{{donationAddress}}</span>
    </div>
    <div class='ml-2' (click)='copyDonationAddress()'>
      <i class="far fa-copy" style='cursor: pointer'></i>
    </div>
  </div>
  <button class='p-button p-button-outlined mt-3 block mx-auto p-button-sm' pRipple pButton label='List of Donors'
          (click)='btnShowDonorsOnClick()'></button>
  <ng-template pTemplate='footer'></ng-template>
</p-dialog>

<p-dialog [(visible)]="showListDonors" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [style]="{width: '40vw'}" [draggable]="false" [blockScroll]="true" (onHide)="showListDonors = false"
          [baseZIndex]="10000">
  <ng-template pTemplate="header">
    <h1 class='card-title'>List of Donors</h1>
  </ng-template>
  <ng-template pTemplate='footer'></ng-template>
  <div class='flex p-3 mb-3 donor'>
    <div class='mr-3'>
      <i class="pi pi-user"></i>
      <span class='block text-center'>1</span>
    </div>
    <div>
      <span class='seed'>1GbcBTd2zigKt7XSLcHZfHW2k5We96wJtp7jf4DFdetA6</span>
      <span class='info block'>2021/11/07 - 9:14:51 PM</span>
      <span class='info block'>Donation: 500 Mi</span>
    </div>
  </div>
</p-dialog>
